@import url('https://fonts.googleapis.com/css?family=Lato&display=swap&subset=latin-ext');

.Jumbotron-landing{
  background-image: url('./landingIMG.jpg');
  height:100vh;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  color:whitesmoke;
}

.about-us{
  height: 100vh;
  color: whitesmoke;
}

.HeaderClass{
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
